player-connection-mode=Listen
player-connection-guid=4065788019
player-connection-debug=1
player-connection-project-name=VirtualNightSky
player-connection-ip=10.16.243.195
player-connection-ip=10.74.204.164
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
profiler-enable-deep-profiling-support=1
build-guid=ac2faa72daad46e0ba64d36818727936
